* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

.code-wapper {
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px #dedede;
  overflow: hidden;
}

h1,
p {
  line-height: 200%;
}
h1 {
  color: #258125;
}
section {
  margin-bottom: 50px;
}
.demo {
  .context {
    width: 800px;
    height: 300px;
    box-shadow: 0px 0px 2px 1px #dedede;
  }
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.scene {
  box-shadow: 0px 0px 2px 1px #dedede;
  border-radius: 10px;
  background: #e1e2ff;
  padding: 10px;
}

b {
  color: #ff6a00;
}

pre {
  font-weight: bold;
  font-size: 13px;
}

h4 {
  color: #c52558;
}

h3 {
  color: #6cb66c;
}
